.language-switcher {
    height: 24px;
    display: flex;
    align-self: flex-end;
    &__wrapper {
        position: relative;
        width: 40px;
        height: 24px;
        border-radius: 12px;
        border: 2px solid #000;
        .ru {
            width: 15px;
            height: 24px;
            position: absolute;
            top: 0;
            right: 0;
        }
    }
    &__circle {
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background-color: #000;
        position: absolute;
        top: 50%;
        left: 3px;
        transform: translateY(-50%);
        transition: 0.2s all;
        cursor: pointer;
        &_ru {
            left: 18px;
        }
    }
    &__lang {
        padding: 0 5px;
        color: var(--grey);
    }
    &__lang.active {
        color: #000;
    }
    
}