.portfolio {
    padding: 120px 0 100px 0;
    background-color: #F6F6F6;
    &__item {
        margin-top: 25px;
        height: 200px;
        display: flex;
        &:first-child {
            margin-top: 70px;
        }
    }
    &__pic {
        width: 300px;
        margin-right: 100px;
        flex-shrink: 0;
        overflow: hidden;
        img {
            transform: translateY(0);
            transition: 1s;
        }
        &:hover {
            img {
                transform: translateY(-100%)translateY(200px);
                transition: 8s;
            }
        }
    }
    &__text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__name {
        font-weight: 900;
        font-size: 22px;
        a {
            position: relative;
            font-size: 22px;
            font-weight: 900;
            color: #000;
            text-decoration: none;
            
            &::after {
                content: "";
                display: block;
                height: 2px;
                width: 0;
                background-color: #000;
                position: absolute;
                bottom: -2px;
                left: 50%;
                transition: all 0.5s;
            }

            &:hover {
                &::after {
                    width: 100%;
                    left: 0;
                    transition: all 0.5s;
                }
            }
        }
    }

}



