.portfolio {
    padding: 120px 0 100px 0;
    background-color: #F6F6F6;
    &__item {
        margin-top: 80px;
        height: 200px;
        display: flex;
    }
    &__pic {
        width: 300px;
        margin-right: 60px;
    }
    &__text {
        display: flex;
        flex-direction: column;
    }
    &__name {
        font-weight: 900;
        font-size: 22px;
        a {
            position: relative;
            font-size: 22px;
            font-weight: 900;
            color: #000;
            text-decoration: none;
            
            &::after {
                content: "";
                display: block;
                height: 2px;
                width: 0;
                background-color: #000;
                position: absolute;
                bottom: -2px;
                left: 50%;
                transition: all 0.5s;
            }

            &:hover {
                &::after {
                    width: 100%;
                    left: 0;
                    transition: all 0.5s;
                }
            }
        }
    }
    &__tehnologes {
        font-size: 16px;
        margin-top: 10px;
    }
    &__github {
        font-size: 16px;
        a {
            color: #000;
            font-size: 16px;
            text-decoration: underline;
        }
    }
    &__descr {
        margin-top: auto; 
    }
}



