.title {
    font-size: 34px;
    font-weight: 700;
    text-align: center;
}
.descr {
    margin: 0 auto;
    line-height: 22px;
    width: 400px;
    text-align: center;
    margin-bottom: 0;
    margin-top: 25px;
    &_mt70 {
        margin-top: 70px;
    }
    &_mt100 {
        margin-top: 100px;
    }
    &_form {
        margin-top: 0;
        margin-bottom: 20px;
    }
}